In [13]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [15]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [16]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results_june = []
#start = dt.date(2017, 6, 1)
#end = dt.date(2017, 6, 30)
results_june = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [17]:
#  3. Convert the June temperatures to a list.
temps_june = list(np.ravel(results_june))

In [18]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(results_june, columns = ['date', 'June Temps'])
df_june.set_index(df_june['date'], inplace=True)

In [19]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [20]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results_dec = []
#start = dt.date(2016, 12, 1)
#end = dt.date(2016, 12, 31)
results_dec = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [21]:
# 7. Convert the December temperatures to a list.
temps_dec = list(np.ravel(results_dec))

In [22]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_dec = pd.DataFrame(results_dec, columns = ['date', 'December Temps'])
df_dec.set_index(df_dec['date'], inplace=True)

In [23]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_dec.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [31]:
July_temperatures = session.query(Measurement).filter(extract('month', Measurement.date) == 3)
July_temp_list = [temp.tobs for temp in July_temperatures]
July_temp_df = pd.DataFrame(July_temp_list, columns=["July Temps"])
July_temp_df.describe()

        July Temps
count  1693.000000
mean     70.059067
std       3.845271
min      56.000000
25%      68.000000
50%      70.000000
75%      73.000000
max      82.000000

In [30]:
October_temperatures = session.query(Measurement).filter(extract('month', Measurement.date) == 9)
October_temp_list = [temp.tobs for temp in October_temperatures]
October_temp_df = pd.DataFrame(October_temp_list, columns=["October Temps"])
October_temp_df.describe()

       October Temps
count    1480.000000
mean       76.164865
std         3.535178
min        64.000000
25%        74.000000
50%        76.000000
75%        79.000000
max        87.000000